.back-to-top {
    position: fixed;
    opacity: 1;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #2487ce;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
    text-decoration: none;
}
.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}


.back-to-top:hover {
    background: #43b1ff;
    color: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img{
    max-width: 100%;
    height: auto;
}



.nav-link  {
    color: black;
    transition: all 0.3s;
}


.nav-link:hover {
    color: #2487ce;
}

.nav-button {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}


.btn-main, .btn-nav {
    background-color: #2487ce;
    transition: all 0.3s;
}

.btn:hover, .nav-button:hover {
    background-color: #43b1ff;
    color: white;
    border-color: #43b1ff;

}

.dropdown-item:hover {
    color: white;
    background-color: #2487ce;
}

#logo {
    color: #2487ce;
    transition: all 0.5s;
    text-decoration: none;
    font-size: 2.7rem;
    font-weight: 600;
}

#logo:hover {
    color: #43b1ff;
    transform: scale(1.2);
}


#header {
    box-shadow: 0 1px 15px rgb(0 0 0 / 0.1);
    background-color: white;
}

.navbar-toggler {
    height:36px;
    width: 50px;
    background-color: white;
    position: relative;
    bottom: 5px;
    border: 2px solid black;
}


#hero {
    background-image: url(./hero-bg.jpg);
    height: 100vh;
    background-attachment: fixed;
    
}


.hero-title {
    font-size: 4rem;
    font-weight: 796;
    color: rgb(21, 80, 119);
}

.lead {
    color: rgb(103, 119, 134);
    font-weight: 400;
    font-size: 24px;
    
}

.btn-main {
    height: 3rem;
    border-radius: 10px;
    letter-spacing: 3px;
    font-size: 1.5rem;
    transition: all 0.3s;
}

.btn-main:hover {
    transform: scale(1.3);
    letter-spacing: 6px;
}

.fa-icon {
    color: #2487ce;
    margin-top: 25px;
}


.icon-box {
    box-shadow: 0 4px 15px rgb(0 0 0 / 0.2);
    border-radius: 12px;
    transition: all 0.5s;
    
}


.icon-box:hover {
    transform: scale(1.1);
}



.semi-title a {
    text-decoration: none;
    color: rgb(21, 80, 119);
    transition: all 0.5s;
}

.semi-title a:hover {
    color: #43b1ff;
}


.btn-md {
    border: 2px solid #2487ce;
    background-color: white;
    color: #2487ce;
}


.btn-md:hover {
    border: 2px solid #2487ce;
    background-color: #2487ce;
    color: white;
}

.about-list, #about-video ul {
    list-style-type: none;
}


.fa-wrench {
    color: #2487ce;
    position: relative;
    right: 30px;
    top: 15px;
}

#about ul {
    line-height: 12px;
}


#counts, #partner, #services {
    background-color: #e7f1fc;
}


.count-box {
    color: rgb(21, 80, 119);
    position: relative;
    left: 4rem;
    width: 70px;
}


.count-number {
    font-size: 65px;
    font-weight: 999;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.record {
    font-weight: 500;
}


.fa-gear {
    color: #2487ce;
    position: relative;
    right: 2rem;
    top: 1.2rem;
}

#about-video ul {
    line-height: 1rem;
}

.fa-youtube-play{
    position: relative;
    right: 17.3rem;
    top: 2rem;
    transition: all 0.5s;
}

.fa-youtube-play:hover {
    transform: scale(1.4);
}


.img-video {
    border-radius: 20px;
    filter: brightness(100%);
    filter: contrast(110%);
}

.electritian-description {
    margin-bottom: 0px;
}


#partner img {
    width: 100px;
    margin: 0 50px 0 50px;
    filter: saturate(0%);
    transition: all 0.5s;
}


#partner img:hover {
    filter: saturate(100%);
    transform: scale(1.3);
}



.fa-ban, .fa-battery-full, .fa-cloud, .fa-cube, .fa-info-circle, .fa-plus-circle {
    padding: 18px;
    background-color: rgb(238, 238, 238);
    border-radius: 20%;
    transition: all 0.5s;

}


.fa-ban:hover, .fa-battery-full:hover, .fa-cloud:hover, .fa-cube:hover, .fa-info-circle:hover, .fa-plus-circle:hover {
    color: white !important;
}




.fa-ban:hover{
    background-color: orange;
}


.fa-battery-full:hover{
    background-color:  rgb(0, 194, 0);
}

.fa-cloud:hover{
    background-color: rgb(19, 168, 255);
}

.fa-cube:hover{
    background-color:rgb(143, 15, 182) ;
}


.fa-info-circle:hover{
    background-color:rgb(38, 0, 255) ;
}


.fa-plus-circle:hover{
    background-color: rgb(43, 126, 50);
}


#services a{
    text-decoration: none;
    color: rgb(21, 80, 119);
}

.icon-box-service-1, .icon-box-service-2, .icon-box-service-3, .icon-box-service-4, .icon-box-service-5, .icon-box-service-6{
    border-radius: 8px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 0.2);
    background-color: rgb(238, 238, 238);
}



#cta {
    background-color: #2487ce;
}

#cta a{
    border: 2px solid white;
    padding: 8px 30px 8px 30px;
}


.btn-cta:hover {
    color: #2487ce !important;
    background-color: white;
}

#bundle ul {
    list-style-type: none;
}



#bundle li {
    margin-top: 14px;
}


.btn-business {
    color: white;
    border: 2px solid white;
    background-color: #2487ce;
    
}



.btn-business:hover {
    color: #2487ce;
    border: 2px solid white;
    background-color: white;
}




#bundle .btn{
     padding: 8px 24px 8px 24px;
     font-weight: 700;
}


#bundle .bundle-box{
    border-radius: 12px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.4);

}


#bundle .price {
    font-size: 46px;
}


.price-free, .price-customer {
    color: #2487ce;
}

#bundle h3 {
    color: rgb(21, 80, 119);
}


#accordionPanelsStayOpenExample {
    box-shadow: 0 2px 15px rgb(30 144 255 / 0.6);
}


#accordionPanelsStayOpenExample button:hover {
      color: #2487ce;
}



#accordionPanelsStayOpenExample i{
    color: #43b1ff;
}

#accordionPanelsStayOpenExample button:focus {
    color: #43b1ff;
}

#faq {
    background-color: #e7f1fc;
}

#faq button {
    font-weight: 500;
}


.section-title h2{
    color: rgb(21, 80, 119);
}

.section-title p{
    color: rgb(126, 126, 126);
}



.info{
    line-height: 10px;
}



.info h4 {
    color: rgb(21, 80, 119);
    position: relative;
    left: 20px;
}

.info p{
    color: #43b1ff;
    position: relative;
    left: 20px;
}

.info i{
    position: relative;
    top: 56px;
    transition: all 0.3s;
    color: #2487ce;
    background-color: #e7f1fc;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.4);
}


.info i:hover{
    background-color: #2487ce;
    color: white;
}


.info .fa-map-marker {
    padding: 9px 16px 9px 16px;
}


.info .fa-envelope {
    padding: 11px 11px 13px 13px;
}


.info .fa-mobile-phone {
    padding: 5px 18px 5px 18px;
}

#contact input, #contact select{
    box-shadow: 0 1px 15px rgb(0 0 0 / 0.1);
}

#contact input:focus{
    background-color: #e7f1fc;
}

#contact select:focus{
    background-color: #e7f1fc;
}

#contact label{
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(21, 80, 119);
}

.footer-top {
    font-style: italic;
    background-color: #e7f1fc;
    box-shadow: 0 1px 15px rgb(0 0 0 / 0.2);

}


.footer-top ul {
    list-style-type: none;
}


.footer-top a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
}


.footer-top a:hover{
    color: #2487ce;
}

.footer-top i{
    position: relative;
    top: 3px;
    right: 25px;
    color: rgb(21, 80, 119);
}



.footer-top h3, .footer-top h4, .footer-top strong{
    color: rgb(21, 80, 119);
    font-weight: bold;
}


.social-links i{
    padding: 8px;
    color: white;
    background-color: #2487ce;
    border-radius: 12px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 0.4);
    transition: all 0.3s;
}

.social-links i:hover{
    background-color: #43b1ff;
}

.fa-facebook{
    padding: 8px 13px 8px 13px !important;
}

@media (max-width: 575px) {
    .fa-youtube-play {
          position: relative;
          right: 55vw;
    }

}   

@media (min-width:576px) and (max-width: 1199px) {
    .fa-youtube-play {
          position: relative;
          right: 310px;
    }

}   





@media (max-width: 1199px) {
    .img-video{
        position: relative;
        right: 3rem;
        bottom: 20px;
    }


    

    

}


@media (max-width: 991px) {
    #hero {
        margin-top: 5.7vh;
        height: calc(100vh + 150px);
    }


    .icon-box-service-2, .icon-box-service-3{
        margin-top: 20px;
    }


    .footer-links-2, .footer-newsletter{
        margin-top: 60px;
    }



    .footer-links-2{
        position: relative;
        right: 40px;
    }


    #about-video {
        margin-left: 5.2rem
    }

    

}




@media (max-width: 767px)  {
    #hero{
        background-attachment: fixed;
        height: calc(100vh + 180px);
    }

    #hero .container {
        position: relative;
        right: 20px;
        top: 36vh;
    }

    #about {
        margin-top: 54vh;
    }





    

    .footer-top .footer-links {
        margin-top: 45px;
    }

   
}


@media (min-width: 992px) {
    #about .row ul > li > p {
        line-height: 22px;
    }

    .address > p{
        line-height: 22px;
    }
}


@media (max-width: 509px) {
    #about .row ul > li > p {
        line-height: 22px;
    }

    .address > p{
        line-height: 22px;
    }

    #about {
        margin-top: 82vh;
    }
}

@media (max-width: 399px) {
    #hero .container {
        position: relative;
        top: 42vh;
    }

}